body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}
h1 {
  font-family: "Raleway", sans-serif;
}
html {
  height: 100%;
}
.bgimg {
  background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
